body {
	background: $grey--x-light;
	font-family: 'Neuzeit';
}
.element {
	margin-bottom: 5%;
}

.inner {
	width: 80%;
	max-width: 1240px; // This is a random size i picked, feel free to change it!
	margin-left: 20%;
	box-sizing: border-box;
	padding: 2%;
}

.wrapper, body, html {
	height: 100%;
}

nav.aside {
	width: 20%;
	max-width: 300px;
	position: fixed;
	height: 100%;
	background: rgb(51, 51, 51);
}

nav.aside a {
	color: rgb(255,255,255);
	text-decoration: none;
	font-size: 1em;
	display: block;
	padding: 1em;
}

nav.aside ul {
	margin-top: 2em;
}

nav.aside li.current {
	background: rgb(255,255,255);
}

nav.aside li.current a {
	color: rgb(51,51,51);
}

.style-heading {
	margin-bottom: 45px;
}

.style-heading h1 {
	margin-bottom: 0.2em;
}

.button-shadow {
	margin-bottom: 20px;
}

.two-col {
	width: 48%; 
	float: left;
}

.two-col:first-of-type {
	margin-right: 4%;
}


// Color blocks template layout

.color-block {
	width: 30%;
	display: inline-block;
	float: left;
	margin: 15px 1.6%;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
	color: rgb(44, 54, 67);
}

.color-wrapper {
	width: 100%;
	margin: 30px -10px;
}

.color-wrapper:after {
	content: '';
	display: block;
	clear: both;
}

.color-code {
	background: rgb(255,255,255);
	padding: 12px;
}

.variable-name {
	background: rgb(252,252,252);
	padding: 7px;
}

.color-block.red .color-code {
	background: rgb(222,56,53);
}

.color-block.grey .color-code {
	background: rgb(44, 54, 67);
	color: rgb(255,255,255);
}