body {
  background: #eef1f3;
  font-family: Helvetica; }

.wrapper {
  width: 50%;
  margin: 0 auto; }

.color-block {
  width: 30%;
  display: inline-block;
  float: left;
  margin: 10px 1.6%;
  text-align: center;
  border-radius: 3px;
  overflow: hidden;
  color: #2c3643; }

.color-wrapper {
  width: 100%;
  margin: 10px -10px 10px -10px; }

.color-wrapper:after {
  content: '';
  display: block;
  clear: both; }

.color-code {
  background: white;
  padding: 12px; }

.variable-name {
  background: #fcfcfc;
  padding: 7px; }

.color-block.red .color-code {
  background: #de3835; }

.color-block.grey .color-code {
  background: #2c3643;
  color: white; }
