/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
.pull-right {
  float: right; }

body {
  background: #eef1f3;
  font-family: Helvetica; }

.wrapper {
  width: 50%;
  margin: 0 auto; }

.color-block {
  width: 30%;
  display: inline-block;
  float: left;
  margin: 10px 1.6%;
  text-align: center;
  border-radius: 3px;
  overflow: hidden;
  color: #2c3643; }

.color-wrapper {
  width: 100%;
  margin: 10px -10px 10px -10px; }

.color-wrapper:after {
  content: '';
  display: block;
  clear: both; }

.color-code {
  background: white;
  padding: 12px; }

.variable-name {
  background: #fcfcfc;
  padding: 7px; }

.color-block.red .color-code {
  background: #de3835; }

.color-block.grey .color-code {
  background: #2c3643;
  color: white; }
