.button-shadow {
	background-color: rgb(0, 188, 180); //Variables
	border: 0;
	border-bottom: 0.4em rgb(0, 163, 156) solid; //Variables
	color: rgb(255, 255, 255);
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 0.25em;
	max-width: 280px;
	padding: 1em 3em;
	width: 15%;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	-webkit-appearance: none;
	display: table;
}

.button-shadow.delete {
	background-color: rgb(255, 91, 53); //Variables
	border-bottom: 0.4em rgb(212, 69, 29) solid; //Variables
}

.button-shadow:active {
	margin-top: 0.3em;
	border-bottom-width: 0.2em;
}

.button {
	background: rgb(249, 206, 47);
	padding: 1em 2em;
	color: rgb(255,255,255);
	text-decoration: none;
	display: table;
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	-ms-transition: background 0.3s;
	-o-transition: background 0.3s;
	transition: background 0.3s; //Mixin instead (wasn't working)
}

.button.delete {
	background: rgb(255, 91, 53);
}

.button.delete:hover {
	background: darken(rgb(255, 91, 53), 10%);
}

.button:hover {
	background: darken(rgb(249, 206, 47), 10%); //Variables
}


// .btn-group{
// 	margin-bottom:1em;
// }

// .btn-group--centered{
// 	text-align:center;
// }

// .btn-group--split{
// 	*:first-child{

// 	}

// 	*:last-child{
// 		float:right;
// 	}
// }

// .btn{

// 	$padding: 1.25em 1.8em;
// 	$color:white;
// 	$background-color:$blue2;
// 	$font: #{1em}/#{1.5em} $font-family;
// 	$transitioned-properties: (
// 		background:darken($blue2, 10%),
// 	);

// 	//Fieldwork Default Styles
// 	padding:$padding;
// 	display:inline-block;
// 	border:none;
// 	width:auto;
// 	outline:none;
// 	cursor:pointer;
// 	margin:0 0 1.25em 0;
// 	font:$font;
// 	color:$color;
// 	background-color:$background-color;
// 	@include transition((":hover"), $transition-times, $transitioned-properties);

// 	text-align:center;
// 	@include border-box;
// 	min-width:200px;

// 	&:hover{
// 		text-decoration: none;
// 	}
// }

// // .btn--fixed-width{
// // 	@extend .btn;
// // 	@include border-box;
// // 	text-align:center;
// // 	width:200px;
// // }

// .btn--auto-width{
// 	width:auto;
// }

// .btn--full-width{
// 	width:100%;
// }

// .btn--pull-right{
// 	float:right;
// }

// .btn--neutral{
// 	background-color:darken(#CCC, 10%);
// 	$transitioned-properties: (
// 		background:darken(#CCC, 20%),
// 	);
// 	@include transition((":hover"), $transition-times, $transitioned-properties);
// }

// .btn--small {
// 	font-size: 0.85em;
// }

// .btn--large {
// 	font-size: 1.25em;
// }