.form-group{
	margin-bottom:20px;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="url"], input[type="password"], textarea {
	box-sizing: border-box;
	background-color: rgb(252, 252, 252);
	border: 1px solid rgb(220, 220, 220);
	display: block;
	font-size: 1em;
	padding: 0.4em;
	margin-bottom: 0.4em;
	width: 100%;
	vertical-align: middle;
}

label {
	color: rgb(88, 89, 91);
	border: 0;
	display: inline-block;
	font-size: 1em;
	font-weight: bold;
	line-height: 1.4em;
	margin-bottom: 0.25em;
	position: relative;
	text-transform: none;
}

textarea {
	min-height: 200px;
}