//color naming convention: (based on those at http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/)
// Start with the base color, then progress to dark or light, which allows you to then move to mid or extra (x) dark/light later on
//x-dark
//dark
// mid-dark
// base (default)
// mid-light
// light
// x-light


//color palette.
$red: rgb(246,48,62);
$white: rgb(255,255,255);


$grey: rgb(102,102,102);
$grey--light: rgb(219, 220, 217);
$grey--x-light: rgb(235, 235, 232);


//Grid
$column-count: 20;
$gutter-width: 20px;
$column-width: (100% / $column-count); //- $gutter-width;


//font families

$font-family:"Neuzeit", sans-serif;

// ===================================================
// TYPEPLATE
// ===================================================


// $BaseType
// -------------------------------------//

$font-weight: normal;
$line-height: 1.65;
$font-size: 100; // percentage value (16 * 112.5% = 18px)
$font-base: 16 * ($font-size/100); // converts our percentage to a pixel value
$font-family: serif; // Non-font-face font-stack


// $Paragraphs
// -------------------------------------//

// Text Indentation Value
$indent-val: 1.5em;

// Paragraph Styling Boolean
// 'false' means no vertical whitespace
// between subsequent paragraphs.
$paragraph-vertical-whitespace: false;


//Font Sizes

$xx-large: 117; // 117 = 18 × 6.5
$x-large: 90; // 90 = 18 × 5
$large: 72; // 72 = 18 × 4
$medium: 60; // 60 = 18 × 3.3333
$small: 48; // 48 = 18 × 2.6667
$x-small: 36; // 36 = 18 × 2
$xx-small: 18; // 18 = 18 × 1



// $TypeScale-Unit
// -------------------------------------//

$type-scale-unit-value: rem;


// End of Typeplate =============================


//

$transition-times: (0, 0.5); //default: instant on, fade-off.


//project specific variables
//any custom variables can go here