[class^="grid-col-"] {
	float: left;
	min-height: 1px;
	padding:0 $gutter-width/2 $gutter-width;

	@include border-box;
}


@for $i from 1 through $column-count {

	.grid-col-#{$i} {
		width: $column-width*$i;
	}

	.grid-row-#{$i} {
		height: $column-width*$i;
	}

}


.grid{
	background:red;
	margin: 20px (-$gutter-width/2);
	overflow:hidden;
	padding-top: 20px;

	[class^="grid-col-"] {
		.col-content{
			height:100px;
			background:black;
		}
	}
}

.col-r {
	float: right;
}

.grid .tiny-cube .col-content{
	// height: 350px;
}