[class^="grid-col-"] {
	float: left;
	min-height: 1px;
	padding:0 $gutter-width/2 $gutter-width;

	@include border-box;
}


@for $i from 1 through $column-count {

	.grid-col-#{$i} {
		width: $column-width*$i;
	}

	.grid-row-#{$i} {
		height: $column-width*$i;
	}

}


.grid{

	background:red;
	margin: 0 (-$gutter-width/2);
	overflow:hidden;

	[class^="grid-col-"] {
		.col-content{
			height:100px;
			background:black;
		}
	}
}