// TEMPORARY Layout stuff !

.inner {
	width: 80%;
	margin-left: 20%;
	box-sizing: border-box;
	padding: 2%;
}

.wrapper, body, html {
	height: 100%;
}

nav.aside {
	width: 20%;
	max-width: 300px;
	position: fixed;
	height: 100%;
	background: rgb(51, 51, 51);
	box-sizing: border-box;
	padding: 2%;
}

nav.aside a {
	color: rgb(255,255,255);
	text-decoration: none;
	font-size: 1em;
}

nav.aside li {
	margin: 1em 0;
}

// main{

// 	$background:$grey;

// 	background:$background;
// 	padding-bottom:40px;
// }

// .inner-wrapper{

// 	$padding:0 40px;
// 	$max-width:1140px;

// 	margin-left: auto;
// 	margin-right: auto;
// 	padding:$padding;
// 	max-width:$max-width;
// }
// .inner-wrapper--narrow{
// 	@extend .inner-wrapper;
// 	max-width:700px;
// }

// .inner-wrapper--padded-vert{
// 	$vert-padding:80px;

// 	padding-top:$vert-padding;
// 	padding-bottom:$vert-padding;
// }

// .sidebar.sidebar--minimal {
// 	background:none;
// 	color:$dark-grey;
// 	width: 35%;
// 	padding-top:60px;
// 	@include border-box;
// }

// .inner-wrapper--padded-bottom{
// 	padding-bottom:80px;
// }

// .inner-wrapper.inner-wrapper--padded-bottom:after {
// 	content: '';
// 	clear: both;
// 	display: table;
// }

// .local-schools-manifesto, .other-schools-manifesto  {
// 	border-bottom: solid 2px $blue2;
// 	padding: 1em 1em 1em 0;
// }

// .local-schools-manifesto h3 { 
// 	color: $lighter-grey;
// }
